@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Lato&display=swap');

:root {
  --dark-main-color: #343332;
  --dark-secondary-color: #978de0;

  --light-main-color: #eee;
  --light-secondary-color: #343434;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--dark-main-color);
  color: var(--dark-secondary-color);
  padding-top: 2vh;
  touch-action: manipulation;
}

#reset,
#start-btn {
  color: var(--dark-secondary-color);
  border: 1px solid var(--dark-secondary-color);
  background-color: transparent;
  font-size: 1em;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px;
  width: 280px;
  margin: auto;
  display: block;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
}

#game-board {
  font-family: 'Hachi Maru Pop', cursive;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 90vw;
  max-width: 1000px;
  height: 76vh;
  padding-top: 25px;
  margin: auto;
}

.game-square {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  cursor: pointer;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
}

/* .o {
  color: #319b2b;
}

.x {
  color: #1384af;
} */

#winning-message {
  padding-top: 25px;
  text-align: center;
  font-size: 1.35em;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.hide-modal {
  display: none;
}

.modal {
  background-color: var(--dark-main-color);
  border: 1px solid var(--dark-secondary-color);
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
}

.modal-header {
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  border-bottom: 1px solid #fff;
  margin: 0;
}

.modal-content {
  padding: 0 20px 20px 20px;
}

.modal-form .player1 {
  padding-bottom: 40px;
}

.modal-form .player2 {
  margin-bottom: 40px;
}

.modal-form .form-input {
  border: 1px solid var(--dark-secondary-color);
  color: var(--dark-secondary-color);
  width: 100%;
  font-size: 1em;
  padding: 8px;
  border-radius: 4px;
  overflow: visible;
  background-color: transparent;
  margin-top: 5px;
}

.modal-form::placeholder .form-input::placeholder {
  color: var(--dark-secondary-color);
}

.p1-radio,
.p2-radio {
  padding-top: 5px;
  text-align: center;
}

#start-btn {
  font-size: 0.9em;
  width: 150px;
}

p {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-main-color);
    color: var(--light-secondary-color);
  }

  #reset,
  #start-btn {
    color: var(--light-secondary-color);
    border: 1px solid var(--light-secondary-color);
  }

  .game-square {
    border: 1px solid var(--light-secondary-color);
  }

  .modal {
    background-color: var(--light-main-color);
    border: 1px solid var(--light-secondary-color);
  }

  .modal-header {
    color: (var(--light-secondary-color));
  }

  .modal-header h3 {
    border-bottom: 1px solid var(--light-secondary-color);
  }

  .modal-form .form-input {
    border: 1px solid var(--light-secondary-color);
    color: var(--light-secondary-color);
  }

  .modal-form::placeholder .form-input::placeholder {
    color: var(--light-secondary-color);
  }
}
