@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Lato&display=swap');

:root {
  --dark-main-color: #343332;
  --dark-secondary-color: #978de0;

  --light-main-color: #eee;
  --light-secondary-color: #33057c;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--dark-main-color);
  color: var(--dark-secondary-color);
  padding-top: 2vh;
  touch-action: manipulation;
}

#reset {
  color: var(--dark-secondary-color);
  background-color: var(--dark-main-color);
  border: 1px solid var(--dark-secondary-color);
  font-size: 1em;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px;
  width: 280px;
  margin: auto;
  display: block;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
}

#game-board {
  font-family: 'Hachi Maru Pop', cursive;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 90vw;
  max-width: 1000px;
  height: 76vh;
  padding-top: 25px;
  margin: auto;
}

.game-square {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  cursor: pointer;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
}

#winning-message {
  padding-top: 25px;
  text-align: center;
  font-size: 1.35em;
}

@media (max-width: 768px) {
  #game-board {
    height: 60vh;
  }

  .game-square {
    font-size: 60px;
  }
}
